# Node modules
node_modules/

# Compiled JavaScript files
dist/

# Environment files
.env

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript cache
*.tsbuildinfo

# Yarn Integrity file
.yarn-integrity

# Optional npm cache directory
.npm/

# Debugging files
*.pdb
*.dSYM/
